<a href="https://colab.research.google.com/github/BrunoAlexandreAmaral/Spark/blob/main/manipulacao_particao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [156]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DoubleType, StructField, StructType,StringType, TimestampType
from pyspark.sql.functions import unix_timestamp

In [8]:
from google.colab import files
uploaded = files.upload()

Saving rdd_dataset.txt to rdd_dataset.txt

In [10]:
spark = SparkSession.builder.appName("Execucao").getOrCreate()

In [15]:
df_txt = spark.read.text("/content/rdd_dataset.txt")

In [17]:
df_txt.show()

+------------+
|       value|
+------------+
|     Cenoura|
|    Otimista|
|   Solitário|
| Imperfeição|
|  Descoberta|
|    Fantasia|
|         DNC|
| Maravilhoso|
|Criatividade|
| Compreensão|
|    Atraente|
|       Festa|
|    Intenção|
|    Encontro|
|     Destino|
|     Sucesso|
|  Conquistar|
|Simplicidade|
|         Paz|
|  Existência|
+------------+
only showing top 20 rows

In [28]:
df_txt_filtrtado = df_txt.filter(df_txt.value == "DNC").count()

In [29]:
df_txt_filtrtado

3

In [96]:
df = spark.read.csv("/content/base_de_dados.csv", header=True, sep=";", schema =schema_types, timestampFormat="dd/MM/yyyy HH:mm")

In [97]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_banco|parte_debitada_conta|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|                NULL|       Maysa da Cruz|          6.7162333E7|                 Itau|           cpf|   8.43975261E9|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                NULL|        Evelyn Sales|          6.0005091E7|             Bradesco|           cpf|2.7145380617E10|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|                NULL|          Maria Melo|          1.3496303E7|                  BTG|           cpf|1.6452937006E10|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                NULL|   Ana Livia Almeida|          4.4695116E7|               Nubank|           cpf|2.6590384142E10|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|                NULL|Srta. Ana Laura d...|          2.1409465E7|               Nubank|           cpf| 7.348610528E10|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|                NULL|       Larissa Souza|          1.0689552E7|                 Itau|           cpf|9.6845371237E10|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                NULL|Dra. Vitoria Silv...|          5.6583792E7|               Nubank|           cpf|8.9064175357E10|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|                NULL|  Francisco da Costa|          9.6088386E7|               Nubank|           cpf|8.5907632429E10|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                NULL|       Calebe da Luz|          1.9365554E7|             Bradesco|           cpf| 6.472018952E10|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|                NULL|        Danilo Lopes|           6.006465E7|                 Itau|           cpf|8.7014935232E10|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                NULL|Sra. Lavinia Cald...|          4.8145941E7|               Nubank|           cpf|6.3542098124E10|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|                NULL|        Diogo da Luz|          3.0302218E7|             Bradesco|           cpf|7.2908154323E10|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|                NULL|Marcos Vinicius G...|          6.7418115E7|                 Itau|           cpf|8.4763129031E10|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                NULL|    Davi Lucas Porto|          9.4395923E7|                  BTG|           cpf|9.7804215649E10|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                NULL|        Isabel Costa|          2.8762988E7|                  BTG|           cpf|5.1824039689E10|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                NULL|Dra. Maria Luiza ...|          9.6594203E7|             Bradesco|           cpf|9.4516738066E10|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|                NULL|       Elisa Moreira|          9.7003354E7|             Bradesco|           cpf|1.5248769094E10|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                NULL|    Stella Fernandes|          3.1579145E7|                  BTG|           cpf| 4.760938125E10|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                NULL|Joao Guilherme Me...|          3.1102492E7|                  BTG|       celular|1.1916824404E10|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|                NULL|         Juan Mendes|          9.7805965E7|             Bradesco|       celular|1.1944547225E10|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [76]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_debitada_conta: double (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: double (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: double (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

In [77]:
schema_types =StructType([
    StructField("id",IntegerType()),
    StructField("valor",DoubleType()),
    StructField("parte_debitada_nome",StringType()),
    StructField("parte_debitada_banco",StringType()),
    StructField("parte_debitada_conta",DoubleType()),
    StructField("parte_creditada_nome",StringType()),
    StructField("parte_creditada_conta",DoubleType()),
    StructField("parte_creditada_banco",StringType()),
    StructField("chave_pix_tipo",StringType()),
    StructField("chave_pix_valor",DoubleType()),
    StructField("data_transacao", TimestampType())
])

In [78]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_debitada_conta: double (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: double (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: double (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

In [99]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_banco|parte_debitada_conta|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|                NULL|       Maysa da Cruz|          6.7162333E7|                 Itau|           cpf|   8.43975261E9|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                NULL|        Evelyn Sales|          6.0005091E7|             Bradesco|           cpf|2.7145380617E10|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|                NULL|          Maria Melo|          1.3496303E7|                  BTG|           cpf|1.6452937006E10|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                NULL|   Ana Livia Almeida|          4.4695116E7|               Nubank|           cpf|2.6590384142E10|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|                NULL|Srta. Ana Laura d...|          2.1409465E7|               Nubank|           cpf| 7.348610528E10|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|                NULL|       Larissa Souza|          1.0689552E7|                 Itau|           cpf|9.6845371237E10|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                NULL|Dra. Vitoria Silv...|          5.6583792E7|               Nubank|           cpf|8.9064175357E10|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|                NULL|  Francisco da Costa|          9.6088386E7|               Nubank|           cpf|8.5907632429E10|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                NULL|       Calebe da Luz|          1.9365554E7|             Bradesco|           cpf| 6.472018952E10|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|                NULL|        Danilo Lopes|           6.006465E7|                 Itau|           cpf|8.7014935232E10|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                NULL|Sra. Lavinia Cald...|          4.8145941E7|               Nubank|           cpf|6.3542098124E10|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|                NULL|        Diogo da Luz|          3.0302218E7|             Bradesco|           cpf|7.2908154323E10|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|                NULL|Marcos Vinicius G...|          6.7418115E7|                 Itau|           cpf|8.4763129031E10|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                NULL|    Davi Lucas Porto|          9.4395923E7|                  BTG|           cpf|9.7804215649E10|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                NULL|        Isabel Costa|          2.8762988E7|                  BTG|           cpf|5.1824039689E10|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                NULL|Dra. Maria Luiza ...|          9.6594203E7|             Bradesco|           cpf|9.4516738066E10|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|                NULL|       Elisa Moreira|          9.7003354E7|             Bradesco|           cpf|1.5248769094E10|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                NULL|    Stella Fernandes|          3.1579145E7|                  BTG|           cpf| 4.760938125E10|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                NULL|Joao Guilherme Me...|          3.1102492E7|                  BTG|       celular|1.1916824404E10|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|                NULL|         Juan Mendes|          9.7805965E7|             Bradesco|       celular|1.1944547225E10|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [148]:
df_semshema = spark.read.csv("/content/base_de_dados.csv", header=True, sep=";", timestampFormat="dd/MM/yyyy HH:mm")

In [149]:
df_semshema.printSchema()

root
 |-- id: string (nullable = true)
 |-- valor: string (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: string (nullable = true)

In [220]:
from pyspark.sql.functions import col, to_timestamp, round

In [280]:
df_cast = df_semshema.withColumn("id", col("id").cast("int")
).withColumn("valor", col("valor").cast("double")
).withColumn("parte_debitada_banco", col("parte_debitada_banco").cast("string")
).withColumn("chave_pix_valor", col("chave_pix_valor").cast("string")
).withColumn("data_transacao", to_timestamp("data_transacao", format="dd/MM/yyyy HH:mm"))

In [245]:
df_cast.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

In [246]:
df_cast.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [162]:
df_cast.select("id").show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
| 20|
+---+
only showing top 20 rows

In [178]:
dolar = df_cast.select("id","valor").withColumn("dolar", round(col("valor")*5,2))

In [183]:
dolar = dolar.drop("id")

In [184]:
dolar.show()

+--------+---------+
|   valor|    dolar|
+--------+---------+
|    9.93|    49.65|
|   15.38|     76.9|
|   57.58|    287.9|
|53705.13|268525.65|
|25299.69|126498.45|
| 7165.06|  35825.3|
|    6.16|     30.8|
|  136.36|    681.8|
|  574.39|  2871.95|
|   42.88|    214.4|
|33629.97|168149.85|
| 4374.56|  21872.8|
|  507.18|   2535.9|
|67758.87|338794.35|
|  815.53|  4077.65|
|    2.73|    13.65|
|    0.54|      2.7|
|49836.72| 249183.6|
|    9.68|     48.4|
| 9837.22|  49186.1|
+--------+---------+
only showing top 20 rows

In [185]:
del_selc = df.select("id","valor")

In [193]:
del_selc = del_selc.withColumnRenamed("id","identificador")

In [194]:
del_selc.show()

+-------------+--------+
|identificador|   valor|
+-------------+--------+
|            1|    9.93|
|            2|   15.38|
|            3|   57.58|
|            4|53705.13|
|            5|25299.69|
|            6| 7165.06|
|            7|    6.16|
|            8|  136.36|
|            9|  574.39|
|           10|   42.88|
|           11|33629.97|
|           12| 4374.56|
|           13|  507.18|
|           14|67758.87|
|           15|  815.53|
|           16|    2.73|
|           17|    0.54|
|           18|49836.72|
|           19|    9.68|
|           20| 9837.22|
+-------------+--------+
only showing top 20 rows

In [216]:
trans_cpf = df.select("id","valor","chave_pix_tipo").filter((col("chave_pix_tipo") == "cpf") & (col("valor") >= "1000"))

In [217]:
trans_cpf.show()

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
|  6| 7165.06|           cpf|
| 11|33629.97|           cpf|
| 12| 4374.56|           cpf|
| 14|67758.87|           cpf|
| 18|49836.72|           cpf|
| 46| 5839.39|           cpf|
| 47|38219.08|           cpf|
| 48| 1379.61|           cpf|
| 50| 8745.63|           cpf|
| 52|60139.23|           cpf|
| 53| 6037.91|           cpf|
| 54|95977.62|           cpf|
| 55|35409.61|           cpf|
| 62|57433.69|           cpf|
| 66|21639.12|           cpf|
| 71|80083.34|           cpf|
+---+--------+--------------+

In [228]:
nulos_df = df.na

In [233]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_banco|parte_debitada_conta|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|                NULL|       Maysa da Cruz|          6.7162333E7|                 Itau|           cpf|   8.43975261E9|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                NULL|        Evelyn Sales|          6.0005091E7|             Bradesco|           cpf|2.7145380617E10|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|                NULL|          Maria Melo|          1.3496303E7|                  BTG|           cpf|1.6452937006E10|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                NULL|   Ana Livia Almeida|          4.4695116E7|               Nubank|           cpf|2.6590384142E10|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|                NULL|Srta. Ana Laura d...|          2.1409465E7|               Nubank|           cpf| 7.348610528E10|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|                NULL|       Larissa Souza|          1.0689552E7|                 Itau|           cpf|9.6845371237E10|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                NULL|Dra. Vitoria Silv...|          5.6583792E7|               Nubank|           cpf|8.9064175357E10|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|                NULL|  Francisco da Costa|          9.6088386E7|               Nubank|           cpf|8.5907632429E10|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                NULL|       Calebe da Luz|          1.9365554E7|             Bradesco|           cpf| 6.472018952E10|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|                NULL|        Danilo Lopes|           6.006465E7|                 Itau|           cpf|8.7014935232E10|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                NULL|Sra. Lavinia Cald...|          4.8145941E7|               Nubank|           cpf|6.3542098124E10|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|                NULL|        Diogo da Luz|          3.0302218E7|             Bradesco|           cpf|7.2908154323E10|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|                NULL|Marcos Vinicius G...|          6.7418115E7|                 Itau|           cpf|8.4763129031E10|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                NULL|    Davi Lucas Porto|          9.4395923E7|                  BTG|           cpf|9.7804215649E10|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                NULL|        Isabel Costa|          2.8762988E7|                  BTG|           cpf|5.1824039689E10|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                NULL|Dra. Maria Luiza ...|          9.6594203E7|             Bradesco|           cpf|9.4516738066E10|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|                NULL|       Elisa Moreira|          9.7003354E7|             Bradesco|           cpf|1.5248769094E10|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                NULL|    Stella Fernandes|          3.1579145E7|                  BTG|           cpf| 4.760938125E10|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                NULL|Joao Guilherme Me...|          3.1102492E7|                  BTG|       celular|1.1916824404E10|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|                NULL|         Juan Mendes|          9.7805965E7|             Bradesco|       celular|1.1944547225E10|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [235]:
df.na.drop("all").show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_banco|parte_debitada_conta|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|                NULL|       Maysa da Cruz|          6.7162333E7|                 Itau|           cpf|   8.43975261E9|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                NULL|        Evelyn Sales|          6.0005091E7|             Bradesco|           cpf|2.7145380617E10|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|                NULL|          Maria Melo|          1.3496303E7|                  BTG|           cpf|1.6452937006E10|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                NULL|   Ana Livia Almeida|          4.4695116E7|               Nubank|           cpf|2.6590384142E10|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|                NULL|Srta. Ana Laura d...|          2.1409465E7|               Nubank|           cpf| 7.348610528E10|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|                NULL|       Larissa Souza|          1.0689552E7|                 Itau|           cpf|9.6845371237E10|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                NULL|Dra. Vitoria Silv...|          5.6583792E7|               Nubank|           cpf|8.9064175357E10|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|                NULL|  Francisco da Costa|          9.6088386E7|               Nubank|           cpf|8.5907632429E10|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                NULL|       Calebe da Luz|          1.9365554E7|             Bradesco|           cpf| 6.472018952E10|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|                NULL|        Danilo Lopes|           6.006465E7|                 Itau|           cpf|8.7014935232E10|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                NULL|Sra. Lavinia Cald...|          4.8145941E7|               Nubank|           cpf|6.3542098124E10|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|                NULL|        Diogo da Luz|          3.0302218E7|             Bradesco|           cpf|7.2908154323E10|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|                NULL|Marcos Vinicius G...|          6.7418115E7|                 Itau|           cpf|8.4763129031E10|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                NULL|    Davi Lucas Porto|          9.4395923E7|                  BTG|           cpf|9.7804215649E10|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                NULL|        Isabel Costa|          2.8762988E7|                  BTG|           cpf|5.1824039689E10|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                NULL|Dra. Maria Luiza ...|          9.6594203E7|             Bradesco|           cpf|9.4516738066E10|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|                NULL|       Elisa Moreira|          9.7003354E7|             Bradesco|           cpf|1.5248769094E10|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                NULL|    Stella Fernandes|          3.1579145E7|                  BTG|           cpf| 4.760938125E10|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                NULL|Joao Guilherme Me...|          3.1102492E7|                  BTG|       celular|1.1916824404E10|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|                NULL|         Juan Mendes|          9.7805965E7|             Bradesco|       celular|1.1944547225E10|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [251]:
df_cast.select("id","valor","chave_pix_tipo").show()

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  1|    9.93|           cpf|
|  2|   15.38|           cpf|
|  3|   57.58|           cpf|
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
|  6| 7165.06|           cpf|
|  7|    6.16|           cpf|
|  8|  136.36|           cpf|
|  9|  574.39|           cpf|
| 10|   42.88|           cpf|
| 11|33629.97|           cpf|
| 12| 4374.56|           cpf|
| 13|  507.18|           cpf|
| 14|67758.87|           cpf|
| 15|  815.53|           cpf|
| 16|    2.73|           cpf|
| 17|    0.54|           cpf|
| 18|49836.72|           cpf|
| 19|    9.68|       celular|
| 20| 9837.22|       celular|
+---+--------+--------------+
only showing top 20 rows

In [263]:
df_cast.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: double (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

In [264]:
df.groupby("chave_pix_tipo").count().show()

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|       celular|   22|
|         email|   29|
|           cpf|   49|
+--------------+-----+

In [266]:
df.groupby("chave_pix_tipo").sum("valor").show()

+--------------+------------------+
|chave_pix_tipo|        sum(valor)|
+--------------+------------------+
|       celular|         207778.46|
|         email|499009.38000000006|
|           cpf| 659513.3499999997|
+--------------+------------------+

In [270]:
df.groupby("chave_pix_tipo").avg("valor").withColumnRenamed("avg(valor)", "Media").show()

+--------------+------------------+
|chave_pix_tipo|             Media|
+--------------+------------------+
|       celular| 9444.475454545454|
|         email|          17207.22|
|           cpf|13459.456122448973|
+--------------+------------------+

In [282]:
from pyspark.sql.functions import year

In [298]:
df_feito= df_cast.filter(year(col("data_transacao")) == 2022)

In [299]:
df_feito.write.csv('Resultados/movimentações_2022.csv')

In [301]:
df_feito.write.parquet("Resultados/movimentações_2022.parquet")

In [302]:
df_feito.rdd.getNumPartitions()

1

In [303]:
!lscpu

Architecture:             x86_64
  CPU op-mode(s):         32-bit, 64-bit
  Address sizes:          46 bits physical, 48 bits virtual
  Byte Order:             Little Endian
CPU(s):                   2
  On-line CPU(s) list:    0,1
Vendor ID:                GenuineIntel
  Model name:             Intel(R) Xeon(R) CPU @ 2.20GHz
    CPU family:           6
    Model:                79
    Thread(s) per core:   2
    Core(s) per socket:   1
    Socket(s):            1
    Stepping:             0
    BogoMIPS:             4400.41
    Flags:                fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 cl
                          flush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc re
                          p_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3
                           fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand
                           hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp
                          fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx sm
                          ap xsaveopt arat md_clear arch_capabilities
Virtualization features:
  Hypervisor vendor:      KVM
  Virtualization type:    full
Caches (sum of all):
  L1d:                    32 KiB (1 instance)
  L1i:                    32 KiB (1 instance)
  L2:                     256 KiB (1 instance)
  L3:                     55 MiB (1 instance)
NUMA:
  NUMA node(s):           1
  NUMA node0 CPU(s):      0,1
Vulnerabilities:
  Gather data sampling:   Not affected
  Itlb multihit:          Not affected
  L1tf:                   Mitigation; PTE Inversion
  Mds:                    Vulnerable; SMT Host state unknown
  Meltdown:               Vulnerable
  Mmio stale data:        Vulnerable
  Reg file data sampling: Not affected
  Retbleed:               Vulnerable
  Spec rstack overflow:   Not affected
  Spec store bypass:      Vulnerable
  Spectre v1:             Vulnerable: __user pointer sanitization and usercopy barriers only; no swa
                          pgs barriers
  Spectre v2:             Vulnerable; IBPB: disabled; STIBP: disabled; PBRSB-eIBRS: Not affected; BH
                          I: Vulnerable (Syscall hardening enabled)
  Srbds:                  Not affected
  Tsx async abort:        Vulnerable

In [304]:
from pyspark.sql.functions import date_format

In [317]:
final = df_cast.withColumn("Dia_Mes_Ano", date_format(col("data_transacao"), "dd/mm/yyyy"))

In [318]:
final.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-----------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|Dia_Mes_Ano|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-----------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00| 18/28/2022|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00| 08/47/2022|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00| 14/18/2022|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00| 15/06/2022|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00| 13/04/2022|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00| 11/38/2022|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00| 10/37/2021|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00| 30/18/2021|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00| 21/20/2021|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00| 21/19/2022|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00| 12/29/2022|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00| 07/01/2022|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00| 07/34/2021|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00| 24/58/2021|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00| 21/25/2022|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00| 20/17/2021|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00| 16/16/2022|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00| 18/46/2022|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00| 26/05/2022|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00| 22/39/2021|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-----------+
only showing top 20 rows

In [319]:
final.write.partitionBy('Dia_Mes_Ano').parquet('partições/data')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')